:root {
    --template-background: rgb(255, 255, 255);
    --template-surface: rgb(255, 255, 255);
    --template-stroke: rgb(228, 232, 241);
    --template-text: rgb(51, 51, 66);
    --template-lead: rgb(51, 51, 66);
    --template-lead-dark: rgb(29, 29, 37);
    --template-text-opacity-20: rgba(51, 51, 66, 0.2);
    --template-text-opacity-50: rgba(51, 51, 66, 0.5);
    --template-stroke-opacity-30: rgba(228, 232, 241, 0.3);
}